/* main.css */

#webapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#controls {
  border: 2px solid grey;
  border-radius: 4px;
  width: 500px;
  height: 475px;
  padding: 20px;
}

#summary-box {
  position: absolute;
  top: 90px;
  left: 100px;
  width: 160px;
  height: 40px;
  border: 2px solid grey;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.75);
  padding: 20px;
}

#num_data_points {
  color: steelblue;
  font-weight: bold;
}

.pin {
  cursor: pointer;
}

circle {
   stroke-width: 0px;
}

/* from here: http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
.noselect, #controls {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}