/* main.css */

#webapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#controls {
  border: 2px solid grey;
  border-radius: 4px;
  width: 500px;
  height: 400px;
  padding: 20px;
}

.pin {
  cursor: pointer;
}

circle {
   stroke-width: 0px;
}