body {
	width: 100%;
}

.chart {
	height: 10px;
	padding-top: 5%;
	padding-bottom: 5%;
}

.chart div {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
/*	padding: 10px;*/
	margin: 1px;
	color: white;
	float: left;
	width: 20px;
}

.d3-slider-axis-bottom {
	height: 20px;
}

#TOD-slider {
	width: 100%;
	margin-bottom: 30px;
}

#radius-slider {
	width: 100%;
	margin-top: 20px;
}

#TOD-hist {
	width: 100%;
	padding-bottom: 30px;
}

#TOD-hist div {
	width: 19px;
}

.DOW-checkbox {

}