body {
	width: 100%;
}
.chart {
	height: 10px;
	padding-top: 5%;
	padding-bottom: 5%;

}

.chart div {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 10px;
	margin: 1px;
	color: white;
	float: left;
  
}

#DOW-slider {
	width: 30%;
}

#TOD-hist {
	width: 30%;
	padding-bottom: 30px;
}

#TOD-hist div {
	width: 4%
}

.DOW-checkbox {
	margin:;
}